<div class="advisor-template" style="display:none;">
  <div class="input-group">
    <button class="remove-advisor">X</button>
    <div class="person-input">
      <div class="group-row">
        <div class="computing_id">
          <label>Computing ID</label>
          <br>
          <input class="form-control contributor_computing_id" name="computing_id[]" value="$id$">
        </div>
      </div>
      <div class="group-row">
        <div class="name_first"><label>First Name</label>
          <br>
          <input class="form-control contributor_first_name" name="first_name[]" value="$first_name$">
        </div>
        <div class="name_last">
          <label>Last Name</label>
          <br>
          <input class="form-control contributor_last_name" name="last_name[]" value="$last_name$">
        </div>
      </div>
      <div class="group-row">
        <div class="department">
          <label>Department</label>
          <br>
          <input class="form-control contributor_department" name="department[]" value="$department$">
        </div>
        <div class="affiliation">
          <label>Institution</label>
          <br>
          <input class="form-control contributor_institution" name="institution[]" value="$institution$">
        </div>
      </div>

    </div>
  </div>
</div>
