<tr>
  <td><%= localize_date_string(audit['created_at'] ) %></td>
  <td><%= audit['user_id'] %></td>
  <td><%= audit['work_id'] %></td>
  <td><%= truncate( audit['what'].gsub( '\\r\\n', ', '), length: 110 ) %></td>
</tr>
