<p id="notice"><%= notice %></p>

<h1>Libra 2 Administrator Dashboard</h1>

<%= link_to("All Works", "/works") %><br>
<%= link_to("Submitted Works", "/works/submitted") %><br>
<%= link_to("Draft Works", "/works/draft") %><br>
