@import 'bootstrap';

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #F6F6F6;
}

.wrapper {
	margin-left: 43px;
	margin-right: 43px;
}

.turbolinks-progress-bar {
	height: 8px;
    background: #f59a3a;
}
