.dashboard-panel {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
	border: none;
	padding-top: 1px;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 4px;
	padding-left: 20px;
	max-width: 300px;
	min-height: 400px;
	padding-bottom: 20px;

	h4 {
		margin-bottom: 0;
	}
	.section {
		padding-left: 10px;
	}

	.find-by-id input {
		margin: 0 8px;
		width: 100px;
	}
}

.breadcrumbs {
	background-color: rgba(0,0,0,0.05);
	padding: 10px 0;
	margin: 0;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		display: inline-block;
		padding-right: 16px;

		&:before {
			content: "»";
			padding-right: 4px;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

table.work {
	th {
		text-align: left;
	}
	tr:nth-child(even) {
		background-color: rgba(0,0,0,0.05);
	}
	td {
		padding: 4px;
		vertical-align: top;
	}
	td:nth-child(1) {
		white-space: nowrap;
	}
}

.advisor-label {
	color: #999999;
	width: 110px;
	display: inline-block;
}

.person-input {
	font-size: 14px;
	margin-bottom: 16px;
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 10px;
}

.field-controls {
	margin-left: 2em;
}

.group-row {
	display: flex;
	margin-bottom: 10px;

	&> div {
		margin-right: 10px;
    width: 100%;

		input {
			width: 210px;
		}
	}
}

.field_help {
	//width: 220px;
	font-style: italic;
	color: #aaaaaa;
}

.edit-dialog .label-div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.edit-dialog .field_help {
  padding-top: 15px;
  font-size: small;
  //width: 400px;
}

.edit-dialog #file-label {
  width: 500px;
}

button.remove-advisor {
	float: right;
	font-size: 12px;
}

#user-text-input {
	width: 100%;
	margin-top: 20px;
}

.edit-dialog {
	label {
		font-weight: bold;
	}
	.message {
		border: 2px solid #cc2312;
		padding: 4px;
		margin-bottom: 10px;
		overflow: auto;
	}
	textarea {
		width: 400px;
		height: 350px;
	}
}

#user-combo-input, #user-dropdown-input {
  min-width: 600px;
}

.select-editable {
  position:relative;
  background-color:white;
  border:solid grey 1px;
  width:602px;
  height:18px;
}
.select-editable select {
  position:absolute;
  top:0px;
  left:0px;
  font-size:14px;
  border:none;
  width:598px;
  margin:0;
}
.select-editable input {
  position:absolute;
  top:0px;
  left:0px;
  width:580px;
  padding:1px;
  font-size:12px;
  border:none;
}
.select-editable select:focus, .select-editable input:focus {
  outline:none;
}

.dataTables_wrapper {
	margin-top: 16px;
	border: 1px solid #aaa;
	padding: 8px;
	box-shadow: 1px 1px 5px #ccc;
}

.works-index {
	td:first-child {
		white-space: nowrap;
	}
}

.work-title {
	float: left;
}

.work-delete, .work-publish, .work-unpublish {
	margin: 27px 0 0 30px;
	text-decoration: none;
}

.file-delete {
	text-decoration: none;
	margin-top: 8px;
}

.file-upload {
	float: right;
	margin-bottom: 20px;
}

#notice {
	clear: both;
}

.file-sets {
	display: flex;
	flex-direction: column;
}

.media-box {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 10px;
	padding-top: 5px;
	.left {
		max-width: 90px;
		box-shadow: 2px 2px 5px #aaa;
		float: left;
	}
	.right {
		margin-left: 100px;
	}
}

.what .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #002F6C;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: -350px;
}

.what:hover .tooltiptext {
  visibility: visible;
}

footer {
  height: 35px;
  background: #002F6C;

  .build-version {
    float: right;
    padding-top: 7px;
    padding-right: 20px;
    color: #9DB0CE;
  }
}

.navbar-brand {
  padding: 10px;
}

//
// end of file
//
