<fieldset>
  <label for="worktype">Select view</label>
  <select name="worktype" id="worktype" ONCHANGE="Turbolinks.visit( this.options[this.selectedIndex].value );">
    <option selected="" value="/works/draft">Draft Works</option>
    <option selected="" value="/works/submitted">Published Works</option>
    <option selected="" value="/works/latest">Latest Works (last 7 days)</option>
    <option disabled>─────────────</option>
    <option selected="" value="/works/all">All Works</option>
    <option selected="" value="/works/sis_only">All SIS Works</option>
    <option selected="" value="/works/optional_only">All Optional Works</option>
    <option selected="" value="/works/libra_only">All Migrated Works</option>
    <option disabled>─────────────</option>
    <option selected="" value="/audits">Audit History</option>
    <option selected="" value="/exports">Exports</option>
  </select>
</fieldset>

<script>
    $( function() {
        var loc = window.location.pathname;
        if( loc === '/' ) {
            loc = '/works/draft'
        }
        $( "#worktype" ).val( loc );
    } );
</script>