<p id="notice"><%= notice %></p>

<%= render "common/nav_links" %>

<input type="hidden" id="api-endpoint" value="<%= "#{LIBRA2API_URL}/api/v1" %>">
<input type="hidden" id="api-token" value="<%= API_TOKEN %>">

<table class="exports-index data-table display compact">

  <thead>
  <tr>
    <th>Work Export</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td></td>
    <td><input id="work-export-start-date" type="text" placeholder="YYYY-MM-DD" class="input-field date-picker" /></td>
    <td><input id="work-export-end-date" type="text" placeholder="YYYY-MM-DD" class="input-field date-picker" /></td>
    <td><button id="work-export" class="btn btn-info">Work Export</button></td>
  </tr>
  </tbody>

  <!--
  <thead>
  <tr>
    <th>Fileset Export</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td></td>
    <td><input id="fileset-export-start-date" type="text" placeholder="YYYY-MM-DD" class="input-field date-picker" /></td>
    <td><input id="fileset-export-end-date" type="text" placeholder="YYYY-MM-DD" class="input-field date-picker" /></td>
    <td><button id="fileset-export" class="btn btn-info">Fileset Export</button></td>
  </tr>
  </tbody>

  -->
  <thead>
  <tr>
    <th>Audit Export</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td></td>
    <td><input id="audit-export-start-date" type="text" placeholder="YYYY-MM-DD" class="input-field date-picker" /></td>
    <td><input id="audit-export-end-date" type="text" placeholder="YYYY-MM-DD" class="input-field date-picker" /></td>
    <td><button id="audit-export" class="btn btn-info">Audit Export</button></td>
  </tr>
  </tbody>

</table>

<br>