<div id="uva_lib_banner">
	<div id="container1" class="lib_banner">
		<div id="uva_lib_logo" class="grid_14 alpha">
			<%= link_to "http://library.virginia.edu/" do %>
				<%= image_tag "uva-horizontal-logo.svg", alt: "University of Virginia Library" %>
			<% end %>
		</div>
	</div>
</div>

<nav class="navbar navbar-default navbar-static-top">
	<div class="navbar-wrapper">
		<div class="navbar-header">
			<%= link_to main_app.root_path, :class => "navbar-brand" do %>
				<%= image_tag "LibraEDTOrange.svg", alt: "LIBRA Logo" %>
			<% end %>
			<span class="search-scope">ADMINISTRATOR</span>
		</div>

	</div>
</nav>
